<h2 class="text-center">New Deck Form</h2>

<%= form_for(@deck) do |f| %>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-10">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-10">
      <%= f.label :category, "Category" %>
      <%= f.text_field :category %>
    </div>
  </div>

  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-5">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description %>
     </div>
  </div>

  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-5">
      <%= f.label :difficulty, "Difficulty"  %>
      <%= f.text_field :difficulty %>

      <%= f.submit "Add Deck", :class => "button" %>
    </div>
  </div>
<% end %>
