<!DOCTYPE html>
<html>
<head>
  <title>Fastcards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="top-bar bar-shadow">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text header-text">Fastcards</li>
        <% if request.fullpath === "/" %>
          <li><a class="clear button white" href="/about">About</a></li>
          <li><a class="clear button white" href="/contact">Contact</a></li>
          <li><a class="clear button white" href="/decks">View Decks</a></li>
        <% elsif request.fullpath === "/about" %>
          <li><a class="clear button white" href="/">Home</a></li>
          <li><a class="clear button white" href="/contact">Contact</a></li>
          <li><a class="clear button white" href="/decks">View Decks</a></li>     
        <% elsif request.fullpath === "/contact" %>
          <li><a class="clear button white" href="/">Home</a></li>
          <li><a class="clear button white" href="/about">About</a></li>
          <li><a class="clear button white" href="/decks">View Decks</a></li>     
        <% elsif request.fullpath === "/decks" %>
          <li><a class="clear button white" href="/">Home</a></li>
          <li><a class="clear button white" href="/about">About</a></li>
          <li><a class="clear button white" href="/contact">Contact</a></li>
        <% elsif request.fullpath != "/decks" %>
          <li><a class="clear button white" href="/">Home</a></li>
          <li><a class="clear button white" href="/about">About</a></li>
          <li><a class="clear button white" href="/contact">Contact</a></li>   
          <li><a class="clear button white" href="/decks">View Decks</a></li>     
        <% end %>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class =>"clear   buttonwhite" %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path, :class => "clear button white" %></li>
          <li><%= link_to 'Sign In', new_user_session_path, :class => "clear button white" %></li>
        <%- end -%>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %> 
</body>
</html>
